<%= simple_form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@pin.errors.count, "error") %>
        prevented this Pin from saving
      </h2>
      <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :image, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :references, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <h4>Select Region:</h4>
    <%= f.select :region, options_for_select([["Select One", ""], "EMEA", "MEE", "APJ", "NA", "LAC"]), :class => 'genForm_dropBox'%>
  </div>
  <div class="form-group">
    <%= f.input :industry, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :technology, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <h4>Select Demo Type:</h4>
    <%= f.select :demo, options_for_select([["Select One", ""], "Digital Demo", "Physical Demo"]), :class => 'genForm_dropBox'%>
  </div>
  <div class="form-group">
    <%= f.input :cost, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <h4>Ease of Demo Setup:</h4>
    <%= f.select :ease, options_for_select([["Select One", ""], "Easy", "Medium","Hard"]), :class => 'genForm_dropBox'%>
  </div>
  <div class="form-group">
    <%= f.input :date, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :createdby, input_html: { class: 'form-control' } %>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
